.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar span {
  margin-right: 1rem;
}

.cart-link a {
  font-weight: 700;
}

.cart-link a:hover {
  color: gainsboro;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .navbar div {
    margin-bottom: 1rem;
  }

  .navbar ul {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
  }

  .navbar li {
    justify-content: center;
    width: 100%;
  }
}
