button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #bababa;
  color: #1a1a1a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.secondary {
  padding: 5px 10px;
  background-color: #bababa;
  color: #1a1a1a;
}
.secondary:hover {
  background-color: rgba(255, 255, 255, 0.87);
  color: #1a1a1a;
}

.remove {
  background-color: #ff4d4d;
  color: white;
}
.remove:hover {
  background-color: #ff1a1a;
  color: white;
}

.small {
  font-size: 0.75em;
  padding: 0.4em 0.8em;
}

.large {
  font-size: 1.25em;
  padding: 0.8em 1.6em;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.5);
}
