.filters {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  flex-wrap: wrap;
}

.filters > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .filters {
    font-size: 12px;
    justify-content: center;
  }

  .filters > div {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .filters {
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .filters > div {
    flex-direction: column;
    gap: 0.5rem;
  }
}
